* {
    margin: 0;
    padding: 0;
}

html{
    background-color: rgb(232, 220, 188);
    cursor: default;
}

body {
    min-height: 100vh;
    width: 100%;
    /* padding-left: 2%;
    padding-right: 2%; */
    text-align: center;
}

.line {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 45px;
    line-height: 1;
}

/* ---------- PAGE 1: "THERE USED TO BE A GRAYING TOWER ALONE ON THE SEA" ---------- */

#flex1-1 {
    display: flex;
    /* background: pink; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:last baseline;
    /* align-items: flex-end; */
    column-gap: 2%;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-bottom: 5%; */
    /* margin-top: 5%; */
}

#flex1-1-2 {
    /* background: green; */
    text-align: right;
}

#gray {
    /* margin-top: 3%; */
    font-family: 'Passion One', sans-serif;
    font-size: 125px;
    /* transition-duration: 2s; */

    /* text-shadow: 0px 0px 30px gray; */
    animation-name: gray;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


/* #gray:hover {
    color: gray;
} */

#tower {
    transition-duration: 3s;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 250px;
    /* transform: scaleY(0.65); */
    transform-origin: center bottom;
    /* margin-bottom: 5%; */

    /* background-color: aqua; */
    /* align-self:flex-end; */
    /* text-shadow: 0px 0px 30px gray; */
    animation-name: tower;
    animation-delay: 0.5s;
    animation-direction: alternate-reverse;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

/* #tower:hover {
    transform: scaleY(1);
} */

#alone {
    font-family: 'Passion One', sans-serif;
    font-size: 85px;
    /* transition-duration: 2s; */
    text-align: center;
    /* text-align: right;
    margin-right: 16%; */
    animation-name: alone;
    animation-direction: alternate;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}

/* #alone:hover {
    letter-spacing: 40px;
} */

#flex1-2 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items:last baseline;
    margin-right: 25%;
    column-gap: 5%;
}

#sea {
    font-family: 'Galada', cursive;
    font-size: 120px;
    transition-duration: 2s;
    text-shadow: 0px 0px 20px rgb(189, 179, 135);

}

#sea a {
    text-decoration: none;
    color:#1f83bc;

}

/* #sea a:hover {
    color: rgb(206, 149, 57);
    background-color: #1f83bc;
    text-shadow: 0px 0px 30px rgb(250, 246, 229);
} */




/* ---------- PAGE 2: "YOU BECAME THE LIGHT ON THE DARK SIDE OF ME" ---------- */

.p2 {
    font-family: 'Passion One', sans-serif;
    font-size: 100px;
}

.P2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3%;
    justify-content: center;
    align-items: center;
}

#flex2-1 {
    padding-right: 50%;
    padding-top: 10%;
    padding-bottom: 3%;
    background-color: black;

}

#became {
    color: white;
}

#light {
    text-shadow: 0px 0px 30px white;
    color: transparent;
    transition-duration: 2s;
    /* background-color: black; */
}

#light:hover {
    color: rgb(218, 218, 218);
    text-shadow: 0px 0px 10px black;
}

#flex2-2 {
    padding-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    /* background-color: white; */
}

#dark {
    text-shadow: 0px 0px 30px black;
    color: transparent;
    transition-duration: 2s;
    /* background-color: white; */
}

#dark:hover {
    color: rgb(48, 48, 48);
    text-shadow: 0px 0px 10px white;
}

#flex2-3 {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1%;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
}

#side {
    width: auto;
    /* background: green; */
    font-family: 'Passion One', sans-serif;
    font-size: 80px;
    transition-duration: 1.5s;
    transform-origin: bottom left;
    width: 150px;
    transform : rotate(-90deg)
}

#side:hover {
    transform : rotate(0deg);
}

#me a {
    color: rgb(138, 0, 0);
    text-decoration: none;
    text-shadow: 0px 0px 20px rgb(48, 48, 48);
    font-family: 'Galada', cursive;
}

/* ---------- PAGE 3: "LOVE REMAINED A DRUG THAT'S THE HIGH AND NOT THE PILL" ---------- */









/* ---------- ANIMATIONS KEYFRAMES ---------- */
@keyframes gray {
    from{
        color: black;
    }
    to{
        color: gray;
    }    
}

@keyframes tower {
    from{
        transform: scaleY(0.65);
    }
    to{
        transform: scaleY(1);
    }
}


@keyframes alone {
    from {
        letter-spacing: normal;
    }
    to {
        letter-spacing: 40px;
    }
}


