/* ---------- PAGE 7: "MY EYES BECOME LARGE AND THE" ---------- */

#flex7-1 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;

}

#large {
    color: white;
    font-family: 'Passion One', sans-serif;
    font-size: 50px;
    text-align: center;
    height: 550px;
    width: fit-content;
    align-content: center;

    transition-duration: 2s;
    transform-origin: center bottom;
}

#large:hover {
    font-size: 500px;
    letter-spacing: 80px;
}

a {
    color: white;
    text-decoration: none;
}
