/* ---------- PAGE 4: "THAT'S THE HIGH AND NOT THE PILL" ---------- */
#flex4-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    column-gap: 2.5%;
    align-items: top;
    margin-top: 10%;
    margin-left: 10%;
    /* background-color: green; */
    text-align: left;
}

#that {
    margin-bottom: 0.5%;
}

#high {
    /* margin-top: 0.5%; */
    /* margin-left: 9%; */
    
    font-family: 'Passion One', sans-serif;
    font-size: 250px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* background-color: pink; */
    position: relative;
}

#h1 {
    animation-name: high;
    animation-direction: normal;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#h2 {
    animation-name: high;
    animation-direction: normal;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0.075s;
}
#g2 {
    animation-name: high;
    animation-direction: normal;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0.15s;
}
#i {
    animation-name: high;
    animation-direction: normal;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
}

#h1 {
    position: relative;
}

#h2 {
    position: relative;
}
#i {
    position: relative;
    /* transition-duration: 1.5s; */
}

/* #i:hover {
    animation-name: high;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transform: translate(0,-50px);
} */

#g2 {
    position: relative;
    /* transition-duration: 1.5s; */
}

/* #g2:hover {
    animation-name: high;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transform: translate(0,-50px);
} */

a {
    text-decoration: none;
    color: white;
    font-family: 'Galada', cursive;
    font-size: 100px;
    /* border: 5px solid white;
    padding-left: 1%;
    padding-right: 1%; */
    /* padding-top: 0.5%;
    padding-bottom: 0.5%; */
    /* border-radius: 100px;
    border-top-width: 3px;
    border-bottom-width: 8px; */
}

#flex4-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2%;
    justify-content: right;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-right: 20%;
    /* background-color: purple; */
}

/* #pill {
    position: relative;
    animation-name: pill;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
} */

/* ---------- ANIMATIONS KEYFRAMES ---------- */
@keyframes high {
    0% {top: 800px}
    40% {top: 0px}
    50% {top: 0px}
    100% {top: -500px}
}

/* @keyframes pill {
    from {rotate: -15deg;}
    to {rotate: 15deg;}
} */