/* ---------- PAGE 12: "AND NOW THAT YOUR ROSE IS IN BLOOM" ---------- */

a {
    text-decoration: none;
    color: white; 
}

.word{
    font-family: 'Galada', cursive;
    font-size: 100px;
    color: white;
}

#rose {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#r-rose:hover{
    animation-name: rose;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}
#o-rose:hover{
    animation-name: rose;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

#s-rose:hover{
    animation-name: rose;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}
#e-rose:hover{
    animation-name: rose;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

#b-bloom{
    position: relative;
    animation-name: lettersbloom;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#l-bloom{
    position: relative;
    animation-name: lettersbloom;
    animation-delay: 0.25s;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#o-bloom{
    position: relative;
    animation-name: lettersbloom;
    animation-delay: 0.5s;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#o2-bloom{
    position: relative;
    animation-name: lettersbloom;
    animation-delay: 0.75s;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#m-bloom{
    position: relative;
    animation-name: lettersbloom;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#dotone-bloom{
    position: relative;
    animation-name: lettersbloom;
    animation-delay: 1.25s;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#dottwo-bloom{
    position: relative;
    animation-name: lettersbloom;
    animation-delay: 1.5s;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#dotthree-bloom{
    position: relative;
    animation-name: lettersbloom;
    animation-delay: 1.75s;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#bloom {
    transform-origin: left center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#bloom:hover {
    animation-name: bloom;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

#flex12-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2%;
    justify-content: left;
    align-items: center;
    margin-top: 10%;
    margin-left: 10%;
}
#flex12-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 20%;
}

/* ---------- ANIMATIONS KEYFRAMES ---------- */
@keyframes rose{
    from{
        color: white;
    }
    to{
        color: rgb(240, 158, 172);
    }
}

@keyframes bloom{
    from{
    transform: scale(1);    
    }
    to{
    transform: scale(2);    
    }
}
@keyframes bloomwavy{
    from{
    transform: scale(1);    
    }
    to{
    transform: scale(2);    
    }
}

@keyframes lettersbloom {
    from {top: 0px}
    to {top: -20px}
}